body {
  background-image: url("foods.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #c8e0fa, #028fcb);
  padding: 0 !important;
}
.navbar-brand img {
  height: 50px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.navbar-toggler {
  outline: none !important;
}

#logo-image {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#newCookit {
  color: #f0f3f5;
  font-weight: 600;
  font-size: 45px;
  margin: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.about-title {
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

#about {
  background: rgba(253, 253, 253, 0.349);
  padding-bottom: 50px;
  padding-top: 50px;
}
.container h1 {
  color: #0d3c01da;
  font-weight: 550;
}
.about-title {
  font-weight: 400;
  color: rgb(249, 248, 243);
}

#social-media p {
  color: #fbfbfbfd;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  transform: translateY(100px);
}
.social-icons img {
  transform: translateY(100px);
  width: 100px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}
.image-icons {
  display: flex; /* Use flexbox to align images in a row */
  justify-content: center; /* Center the images horizontally */
  transform: translateY(300px);
  padding: 20px 0; /* Add padding to create space around images */
  position: relative; /* Position container relatively */
}

.image-icons img {
  width: 300px; /* Set the width of the images */
  height: 200px;
  transition: transform 0.5s; /* Add transition for hover effect */
  border-radius: 25px;
  opacity: 3;
}

.image-icons img:hover {
  transform: translateY(-40px); /* Apply hover effect to lift images */
  opacity: 1;
}

header {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

ol {
  color: #028fcb;
  font-size: 16px;
  margin: 0;
  text-align: left;
  font-family: Arial, sans-serif;
}

form {
  background-color: rgba(173, 173, 173, 0.588);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #1684f9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  border-radius: 80px;
  padding: 5px 20px;
  background-color: #f67a67;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  border: 2px solid #ccc; /* Add border around the container */
  padding: 10px; /* Add padding inside the container */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
}

#welcome-message {
  color: #e7eee1;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.imgcontainer {
  text-align: center; /* Align text (and inline-block elements) to the center */
}

img.avatar {
  width: 50%; /* Set the width of the image */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: 200px;
  }
  .cancelbtn {
    width: 100%;
  }
}

footer {
  background-color: #5ea9f8;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}


